---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  image: string;
  themeColor?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image, themeColor } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="sitemap" href="/sitemap-index.xml">
<meta name="theme-color" content={themeColor || "#111"} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- RSS Feed Discovery -->
<link
  rel="alternate"
  type="application/rss+xml"
  title="Arne's Blog"
  href="/blog/atom.xml"
/>
<link
  rel="alternate"
  type="application/rss+xml"
  title="Arne's Weekly"
  href="/weekly/atom.xml"
/>
<link
  rel="alternate"
  type="application/rss+xml"
  title="Books"
  href="/books/atom.xml"
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
