---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { PROJECTS_TITLE, PROJECTS_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const projects = (await getCollection("projects"))
  .sort((a, b) => a.data.sortIndex - b.data.sortIndex)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={PROJECTS_TITLE} description={PROJECTS_DESCRIPTION} image="/projects/og-image.png" />
    <style>
      .project {
        display: flex;
      }

      .project .image {
        width: 100px;
        margin-right: 16px;
      }

      .project .image img {
        width: 100px;
        border-radius: 8px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main id="main">
      <section class="stack">
        <h1>Projects</h1>
        <p>
          Here are some projects I've worked on:
        </p>
        {projects.map(project => (
          <div class="project">
            <div class="image">
              <img src={project.data.image.src} alt={project.data.imageAlt} />
            </div>
            <div>
              <h2>
                <a href={`/projects/${project.slug}/`}>{project.data.title}</a>
              </h2>
              <span class="meta">{project.data.type} &middot; Est. {project.data.est.getFullYear()}</span>
              <p>{project.data.description}</p>
            </div>
          </div>
        ))}
      </section>
    </main>
    <Footer />
  </body>
</html>
