---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Rating from "../components/Rating.astro";
import { SITE_TITLE } from "../consts";

type Props = CollectionEntry<"books">["data"];

const { title, subtitle, author, dateRead, rating, cover, website } = Astro.props;
const { slug } = Astro.params;
---

<html lang="en" class="reading">
  <head>
    <BaseHead
      title={`A review of ${title} by ${author}`}
      description={`My review and rating of ${title} by ${author}.`}
      }
      image={`/books/${slug}/og-image.png`}
      themeColor="#ce5c00"
    />
    <style>
      .cover {
        width: 33%;
        float: right;
        margin-left: var(--space-2);
        margin-bottom: var(--space-2);
      }

      h1 {
        --space: 0;
      }

      article::after {
        content: "";
        clear: both;
      }
    </style>
  </head>
  <body>
    <Header />
    <main id="main">
      <article class="stack">
        <img class="cover" src={cover.src} alt={`Cover of ${title} by ${author}`} />
        <h1>{title}{subtitle && ": " + subtitle}</h1>
        <div class="meta">
          {author} &middot; Read on <FormattedDate date={dateRead} /> &middot;
          <Rating rating={rating} />
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
