---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";

interface Props {
  title: String;
  description: String;
}

const { title, description } = Astro.props;
const { slug } = Astro.params;
---

<html lang="en">
  <head>
    <BaseHead title={`${title} — ${SITE_TITLE}`} description={description} image={`/${slug}/og-image.png`} />
  </head>
  <body>
    <Header />
    <main id="main">
      <section class="stack">
        <h1>{title}</h1>
        <slot />
      </section>
    </main>
    <Footer />
  </body>
</html>
