---
import { marked } from 'marked';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import SubscribeForm from '../components/SubscribeForm.astro';
import renderWeeklyIssue from '../templates/WeeklyIssueContent.ts'

type Props = CollectionEntry<'weekly'>['data'];

const { title, date, tootOfTheWeek, categories } = Astro.props;
const { num } = Astro.params;

---

<html lang="en">
  <head>
    <BaseHead title={`${title} — Arne's Weekly`} description={`Issue #${num} of Arne's Weekly`} />
    <style>
      h1, h3 {
        margin-bottom: 4px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main id="main">
      <section>
        <span>
        </span>
        <h1>{title}</h1>
        <span class="meta">
          This is issue #{num} of <a href="/weekly">Arnes Weekly</a> from
          <FormattedDate date={date} />
        </span>
        <slot />
        <Fragment set:html={renderWeeklyIssue(num, Astro.props)} />
        <SubscribeForm />
      </section>
    </main>
    <Footer />
  </body>
</html>
