---
import getReadingTime from 'reading-time';
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { WRITING_TITLE, WRITING_DESCRIPTION } from "../../consts";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("writing"))
  .filter((post) => post.slug != "hello-world")
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .reduce((acc, post) => {
    post.data.readingTime = getReadingTime(post.body).text;

    const year = post.data.pubDate.getFullYear();
    if (acc[year]) {
      acc[year].push(post);
    } else {
      acc[year] = [post];
    }
    return acc;
  }, {});
---

<!DOCTYPE html>
<html lang="en" class="writing">
  <head>
    <BaseHead title={WRITING_TITLE} description={WRITING_DESCRIPTION} image="/writing/og-image.png" />
  </head>
  <body>
    <Header />
    <main id="main">
      <section class="stack">
        <h1>Writing</h1>
        <p>
          Hey, here are some articles I’ve written. There’s an
          <a href="/writing/atom.xml">RSS Feed</a>, if you’re into that.
        </p>
        <div class="stack-small">
          {
            Object.keys(posts)
              .sort((a, b) => b - a)
              .map((year) => (
                <>
                  <h2>{year}</h2>
                  {posts[year].map((post) => (
                    <>
                      <h3>
                        <a href={`/writing/${post.slug}/`}>{post.data.title}</a>
                      </h3>
                      <span class="meta">
                        <FormattedDate date={post.data.pubDate} />
                        &middot;
                        {post.data.readingTime}
                      </span>
                      <p>{post.data.description}</p>
                    </>
                  ))}
                </>
              ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
